<ion-view view-title="我的主页">
  <ion-content>
    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap">
        <img ng-src="img/mike.png">
        <h2>cxspace</h2>
        <p>修改资料</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

      <div class="list">

        <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          邮箱号:&nbsp;442961832@qq.com
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-chatbubble-working"></i>
          微信号:&nbsp;13037239781
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-star"></i>
          积分:&nbsp;300
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-heart"></i>
          收藏美食
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
          系统消息
          <span class="badge badge-assertive">0</span>
        </a>


      </div>



      <div class="row">
        <div class="col"></div>
        <div class="col">
          <a class="button  button-outline button-assertive"  href="#/tab/login">
            登录
          </a>
        </div>
        <div class="col"></div>

        <div class="col">
          <a class="button button-outline button-assertive">
            注册
          </a>
        </div>
        <div class="col"></div>
      </div>

      <!--<ul class="list">-->

        <!---->

        <!--<li class="item">-->
          <!--用户名:cxspace-->
        <!--</li>-->

        <!--<li class="item">-->
          <!--账号:JieLiu2017@aliyun.com-->
        <!--</li>-->

        <!--<li class="item">-->
          <!--积分:8888-->
        <!--</li>-->

      <!--</ul>-->
    </ion-list>
  </ion-content>
</ion-view>
