<ion-view view-title="详细">

  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <a class="button button-icon ion-thumbsup" ng-click="inc_support()"></a>
    </div>
  </ion-nav-buttons>


  <ion-content class="padding">

    <div class="item item-body">
      <a>
        <img class="full-image" src="http://121.42.184.102/DaDouMiImg/{{share.imgsrc}}">
      </a>

      <p>
       {{share.content}}
      </p>

      <p>
        <a class="subdued">{{share.support}} 赞</a>
      </p>

      <div class="list list-inset" ng-repeat="comment in commentDatas">

            <div class="item">
                {{comment.user_name}}    &nbsp;&nbsp;&nbsp;|&nbsp; {{comment.comment_create_time}}

                <hr/>

                {{comment.comment_content}}

            </div>

      </div>

      <form ng-submit="doAddComment()">
      <div class="list" ng-show="loginData.id != null">
        <label class="item item-input">
          <textarea placeholder="说点什么吧..." ng-model="commentData.content" rows="3"></textarea>
        </label>

          <button class="button button-block button-assertive" type="submit">提交</button>

      </div>
      </form>


    </div>


  </ion-content>
</ion-view>
