<ion-view view-title="登录">
  <ion-content>
    <ion-list>

      <form ng-submit="doLogin()">

      <div class="list">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" ng-model="loginData.name" placeholder="用户名">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="loginData.password" placeholder="密码">
          </label>
        </div>

        <div class="padding">
          <button class="button button-block button-assertive" type="submit">登录</button>
        </div>

      </div>

      </form>

    </ion-list>
  </ion-content>
</ion-view>
