<ion-view view-title="微信">
  <ion-content>
    <ion-list>

      <form ng-submit="doSubmit()">

      <div class="list">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" ng-model="loginData.name" placeholder="微信号">
          </label>
        </div>

        <div class="padding">
          <button class="button button-block button-assertive" type="submit">提交</button>
        </div>

      </div>

      </form>

    </ion-list>
  </ion-content>
</ion-view>
